In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
data = pd.read_excel('./static/Voters_per_county.xlsm')
data.head(50)

    COUNTY_CODE      COUNTY_NAME    VOTERS  NO. OF POLLING STATIONS
0           001          MOMBASA    580223                      934
1           002            KWALE    281041                      612
2           003           KILIFI    508068                      988
3           004       TANA RIVER    118327                      307
4           005             LAMU     69776                      167
5           006     TAITA TAVETA    155716                      354
6           007          GARISSA    163350                      381
7           008            WAJIR    162902                      434
8           009          MANDERA    175642                      401
9           010         MARSABIT    141708                      384
10          011           ISIOLO     75338                      195
11          012             MERU    702480                     1473
12          013  THARAKA - NITHI    213154                      625
13          014             EMBU    309468                      710
14          015            KITUI    474512                     1454
15          016         MACHAKOS    620254                     1332
16          017          MAKUENI    423310                     1060
17          018        NYANDARUA    335634                      654
18          019            NYERI    456949                      917
19          020        KIRINYAGA    349836                      659
20          021         MURANG'A    587126                     1131
21          022           KIAMBU   1180920                     1963
22          023          TURKANA    191435                      644
23          024       WEST POKOT    180232                      712
24          025          SAMBURU     82787                      284
25          026      TRANS NZOIA    339622                      639
26          027      UASIN GISHU    450055                      868
27          028  ELGEYO/MARAKWET    180664                      529
28          029            NANDI    346007                      796
29          030          BARINGO    232258                      892
30          031         LAIKIPIA    246487                      531
31          032           NAKURU    949618                     1806
32          033            NAROK    341730                      750
33          034          KAJIADO    411193                      797
34          035          KERICHO    375668                      780
35          036            BOMET    322012                      728
36          037         KAKAMEGA    743736                     1497
37          038           VIHIGA    272409                      548
38          039          BUNGOMA    559850                     1186
39          040            BUSIA    351048                      760
40          041            SIAYA    457953                      916
41          042           KISUMU    539210                     1027
42          043         HOMA BAY    476875                     1062
43          044           MIGORI    388633                      826
44          045            KISII    546580                     1126
45          046          NYAMIRA    278853                      553
46          047     NAIROBI CITY   2250853                     3378
47  Grand Total              NaN  19601502                    40770

## Average number of voters per polling station in ascending order

In [10]:
#data.groupby("COUNTY_NAME").sum()
#data.insert(4, "No of PEOPLE PER  POLLING STATION", data['VOTERS']/data['NO. OF POLLING STATIONS'])
data['No of PEOPLE PER  POLLING STATION'] = data['VOTERS']/data['NO. OF POLLING STATIONS']
data = data.sort_values(by = "No of PEOPLE PER  POLLING STATION", ascending=True)
data[['COUNTY_NAME','No of PEOPLE PER  POLLING STATION']]

        COUNTY_NAME  No of PEOPLE PER  POLLING STATION
23       WEST POKOT                         253.134831
29          BARINGO                         260.378924
24          SAMBURU                         291.503521
22          TURKANA                         297.259317
14            KITUI                         326.349381
12  THARAKA - NITHI                         341.046400
27  ELGEYO/MARAKWET                         341.519849
9          MARSABIT                         369.031250
7             WAJIR                         375.350230
3        TANA RIVER                         385.429967
10           ISIOLO                         386.348718
16          MAKUENI                         399.349057
4              LAMU                         417.820359
6           GARISSA                         428.740157
28            NANDI                         434.682161
13             EMBU                         435.870423
8           MANDERA                         438.009975
5      TAITA TAVETA                         439.875706
35            BOMET                         442.324176
42         HOMA BAY                         449.034840
32            NAROK                         455.640000
1             KWALE                         459.217320
39            BUSIA                         461.905263
30         LAIKIPIA                         464.193974
15         MACHAKOS                         465.656156
43           MIGORI                         470.500000
38          BUNGOMA                         472.048904
11             MERU                         476.904277
47              NaN                         480.782487
34          KERICHO                         481.625641
44            KISII                         485.417407
36         KAKAMEGA                         496.817635
37           VIHIGA                         497.096715
18            NYERI                         498.308615
40            SIAYA                         499.948690
45          NYAMIRA                         504.254973
17        NYANDARUA                         513.201835
2            KILIFI                         514.238866
33          KAJIADO                         515.925972
26      UASIN GISHU                         518.496544
20         MURANG'A                         519.121132
41           KISUMU                         525.034080
31           NAKURU                         525.812846
19        KIRINYAGA                         530.858877
25      TRANS NZOIA                         531.489828
21           KIAMBU                         601.589404
0           MOMBASA                         621.223769
46     NAIROBI CITY                         666.327117

__Nairobi County__ Has the highest number of registerd voters with __666.327117__ per polling station while __West Pokot County__ registered the lowest numbers with __253.134831__ persons per polling station.

### Which Counties have highest number of voters

In [11]:
#data.groupby("COUNTY_NAME").sum()
countyHighest = data[['COUNTY_NAME','VOTERS']]
countyHighest.sort_values(by = "VOTERS", ascending=False).head(10)

     COUNTY_NAME    VOTERS
47           NaN  19601502
46  NAIROBI CITY   2250853
21        KIAMBU   1180920
31        NAKURU    949618
36      KAKAMEGA    743736
11          MERU    702480
15      MACHAKOS    620254
20      MURANG'A    587126
0        MOMBASA    580223
38       BUNGOMA    559850

### Note the Nan Value Stands for diaspora

### Which Counties have lowest number of voters
It is thus clear that Kenyans in __diaspora__ with __19601502__ are many than any number of registered voters in any county followed by __Nairobi.__

In [12]:
countyHighest.sort_values(by = "VOTERS", ascending=False).tail(10)

     COUNTY_NAME  VOTERS
23    WEST POKOT  180232
8        MANDERA  175642
6        GARISSA  163350
7          WAJIR  162902
5   TAITA TAVETA  155716
9       MARSABIT  141708
3     TANA RIVER  118327
24       SAMBURU   82787
10        ISIOLO   75338
4           LAMU   69776

__Lamu county__ registerd the least number of voters. Only __69776__ persons where eligible to vote.